<div class="alluser-container">
  <div class="table-container">
    
    <table id="users-table" width="100%">
      <thead>
        <tr>
          <th class="userid">ID</th>
          <th class="username">USERNAME</th>
          <th class="useremail">EMAIL</th>
          <th class="userpassword">PASSWORD</th>
          <th class="regdate">DATE</th>
        </tr>
      </thead>
      <tr>
        <td class="space"></th>
        <td class="space"></th>
        <td class="space"></th>
        <td class="space"></th>
        <td class="space"></th>
      </tr>
      <% all.forEach(e => { %>
      <tbody>
        <tr>
          <td><%= e.id %></th>
          <td><%= e.name %></th>
          <td><%= e.email %></th>
          <td><%= e.password %></th>
          <td><%= e.date %></th>
        </tr>
      </tbody>
      <% }); %>
    </table>
    
  </div>
</div>
