<!DOCTYPE html>
<head>
  <title>Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/library.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>
  <div class="allquiz-container">
    <div class="table-container">
      
      <table id="quiz-table" width="100%">
        <thead>
          <tr>
            <th></th>
            <th class="quizId">SHARE CODE</th>
            <th class="quizTitle">TITLE</th>
            <th class="qAmount">QUESTIONS</th>
          </tr>
        </thead>
        <tr>
          <td class="space"></th>
          <td class="space"></th>
          <td class="space"></th>
          <td class="space"></th>
        </tr>
        <% quizzes.forEach(q => { %>
        <tbody>
          <tr class="row">
            <td>
              <div class="controles">
                <form method="post" action=" <%= `/quiz/${q._id}/${currentUser._id}?_method=DELETE` %> ">
                  <button class="remove-btn" type="submit" style="background-image: url('/img/remove.svg');">
                  </button>
                </form>
                <form method="get" action=" <%= `/quiz/code/${q._id}` %>">
                  <button class="qr-btn" type="submit" style="background-image: url('/img/QR_icon.svg');">
                  </button>
                </form>
              </div>
            </td>
            <td>
              <%= q.id %>
            </td>
            <td><%= q.title %></td>
            <td><%= q.data.length %></td>
          </tr>
        </tbody>
        <% }); %>
      </table>
      
    </div>
  </div>
  
</body>