<!DOCTYPE html>
<head>
  <title>User Overview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/quizview.css" type="text/css" />
</head>
<body>
  <img src="/img/index-bg.jpg" alt="minimalistic shapes" />
  <div class="opacity-black-box"></div>
  <div class="allquiz-container">
    <div class="table-container">
      <form action="/user/quizzes/<%= quiz._id %>" method="post">
        <% for (var i =0; i < quiz.data.length; i++ ) { %>
        <div>
          <div>
            <h1>Question: <%= i+1 %></h1>
            <input
              type="text"
              name="questionData<%= i %>"
              value="<%= quiz.data[i].question %>"
            />
          </div>
          <% quiz.data[i].answer.forEach(e => { %>
          <div>
            <input
              type="text"
              name="answerOption-<%= quiz.data[i]._id %>"
              value="<%= e %>"
            />
          </div>
          <% }) %>
        </div>
        <% } %>
        <br />
        <button type="submit">Save Edited</button>
      </form>
    </div>
  </div>
</body>
