<div class="all-users-container">
    <% all.forEach(e => { %>
        <table id="allUsersTable" style="width: 80%">
          <tr>
            <td>ID:</td>
            <td><%= e.id %></td>
          </tr>
          <tr>
            <td>Name:</td>
            <td><%= e.name %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= e.email %></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><%= e.password %></td>
          </tr>
          <tr>
            <td class="below">Registered:</td>
            <td class="below"><%= e.date %></td>
          </tr>
        </table>
        <% }); %>
  </div>
